* {    /* todo en la pagina tendra esta configuracion */
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
} 

body {
    color: whitesmoke;
    /* aqui ingresamos un fondo */
    background-color: #2a292b; 
    background-image: url("../img/back2.jpg");
    font-size: 15px;
    font-family:  sans-serif;
}

.carousel-item img {
    height: 15em;
}

.titulo {
    text-align: center;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
}
a {
     color: whitesmoke; /* todos las etiquetas a seran negras */
     text-decoration: none; /* para que los links no tengas el subrayado y color azul*/
} 

ul {
    list-style: none;
}
.container {
    width: 90%;
    margin: auto;
}

.nav-main { /* navegacion*/
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    
}

.nav-brand {  /*contenedor del logo de la izquierda*/
    width: 70px;
}
/*navegacion izquierda*/
.nav-main ul {
    display: flex;
}
.nav-main ul li {
    padding: 12px;
}

.nav-main ul li a{
     padding: 2px;
}

.nav-main ul li a:hover  {  /*cuando se pasa el mouse se subraya*/
    border-bottom: 5px solid black;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}
.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    font-size: 1.5rem;
    z-index: 2;
    display: none;
}
/*showcase*/
hr {  /*espacio entre la linea HR y lo que sigue abajo */
    margin: 10px;
}
.showcase {
    width: 100%;
    height: 600px;
    background: url("../img/games/batB2.jpg") no-repeat center center/cover; /*o carrusel*/
    opacity: .9; 
    border-radius: 2%;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 20px;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/*news cards*/
.news-cards {
    padding: 0 1em;
    color: rgb(250, 248, 248);
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 27px;
    margin: 10px 0;
    text-align: left;

}

.news-cards img {
    width: 100%;
    height: 170px;
    border-radius: 6%;
}
.news-cards img:hover {
    opacity: .6;
    transition: 0.7s ease;
 		-moz-transition: 0.7s ease; /* Firefox */
 		-webkit-transition: 0.7s ease; /* Chrome - Safari */
    transform : scale(1.15);
		-moz-transform : scale(1.15); /* Firefox */
		-webkit-transform : scale(1.15); /* Chrome - Safari */
        border: 0.5px solid red;
}

.news-cards h3 {
    font-size: 18px;
    margin: 12px 0;
}

.news-cards a {
    padding: 10px 0;
    color: grey;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {
    text-decoration: underline;
}

/*cards banner one*/
.cards-banner-one {
    padding-top: 10px;
    padding-left: 15px;
    margin-top: 20px;
    width: 100%;
    height: 620px;
    background: url('img/games/banner.jpg') no-repeat center center/cover;
    margin-bottom: 40px;
}
/*redes sociales*/
.social {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 30px;
    font-size: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 25px;
}

.links a i {
   font-size:  20px;
}

/*Links*/
.footer-links {
    background-color: rgb(58, 56, 56);
    color: white;
    font-size: 14px;
    padding:  20px 0;
}
.footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.footer-container ul {
    margin: 0 auto;
}
.footer-container ul li {
    line-height: 2.8;
}
.footer {
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
}

/* carrito css */
.img-cart {
    display: block;
    max-width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
table tr td{
    border:1px solid #FFFFFF;    
}

table tr th {
    background:#eee;    
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

@media (max-width: 850px) {  /*modificamos para pantallas mas chicas 700pxs */
    #carousel img{
        height: 25em;
    }


    .menu-btn {
        display: block;
    }
    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(110, 110, 110);
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);    /*por defecto esta escondido a la izquierda*/
        transition: transform .5s ease-in-out;
    }
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px); /*agregamos show con javascrip y sale el menu*/
    }
    .nav-main ul.nav-menu li {
        padding: 20px;
        border-bottom: #ccc;
        font-size: 14px;
    }
    .nav-main ul.nav-menu-right {
        margin-right: 50px;
    }
    .news-cards {
        grid-template-columns: repeat(2,1fr);
    }
    .footer-links .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 500px) {  /*si en navegador es menor a 500 px*/
    body{ /*cambiamos imagen del background */
        background-image: url("../img/back1.jpg") /*se rompe, o es muy grande esa imagen*/
    }
    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: grey;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);    /*por defecto esta escondido a la izquierda*/
        transition: transform .5s ease-in-out;
    }
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px); /*agregamos show con javascrip y sale el menu*/
    }
    .nav-main ul.nav-menu li {
        padding: 20px;
        border-bottom: #ccc;
        font-size: 14px;
    }
    .nav-main ul.nav-menu-right {
        margin-right: 50px;
    }
    .news-cards {
        grid-template-columns: repeat(1,1fr);
    }
    .news-cards img {
        height: 230px;
    }
    .footer-links .footer-container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (min-width:1024px) {
    #carousel img{
        height: 35em;
    }
}

@media screen and (min-width:1440px) {
    #carousel img{
        height: 40em;
    }
}