body {
  background-image: url('../img/Fondo2.jpg');
  background-size: cover;
}
.login-container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
label {
  color: gray;
}

.tomato {
  background-color: tomato;
}
