@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header{
    height: 100px;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
    height: 150px;
    margin-top: 70px;
}

.menu a{
    color: #8feaff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    border-radius: 20px;
    text-decoration: none;
}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
    color: #8feaff;
    font-weight: 600;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    background: #0d2033;
    
}

#check{
    display: none;
}

/*BANNER*/

body{
    background-image: url(./images/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.contenido-banner{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-banner h3{
    color: #8feaff;
    margin-top: 70px;
    font-size: 50px;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
    
}

/*.contenido-banner h3 span{
    font-weight: bolder;
    color: #8feaff;
}*/

.contenido-banner a{
    flex-direction: column;

}

.iniciar-sesion{
    font-size: 30px;
    text-decoration: none;
    color: #4a1e92;
    font-weight: bold;
    border: 2px solid #4a1e92;
    border-radius: 50px;
    padding: 10px 20px;
    align-self: baseline;
    transition: all 0.4s;
    text-align: center;
}

.iniciar-sesion:hover{
    background: #0d2033;
}

/*VENTANA MODAL*/

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal{
    background-image: url(../images/modal.jpg);
    background-size: cover;
    background-position: center;
    width: 45%;
    height: 45%;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}

.modal::before{
    content: '';
    background: rgba(59, 59, 105, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 60px;
}

.modal-textos{
    display: flex;
    width: 50%;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    flex-direction: column;
    color: #fff;
    right: 70px;
}

.modal-textos h2{
    margin-top: 70px;
    margin-bottom: 30px;
    color: #8feaff;
    text-align: start;
}

/* .modal-textos h2::before{
    content: '';
    position: absolute;
    left: 15px;
    top: 110px;
    width: 80px;
    height: 4px;
    background: #8feaff;
} */

.modal-textos .inputBox{
    margin-top: 30px;
    padding: 5px;
}

.modal-textos .inputBox input{
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-textos .inputBox input::placeholder{
    color: #0a1a2a;
    font-weight: 600;
}

.modal-textos .inputBox input[type="submit"]{
    background: #0d2033;
    color: #666;
    cursor: pointer;
    font-weight: 600;
    margin: 1.1em 0 0 0;
}

.modal-textos .inputBox input[type="submit"]:hover{
    background: #8feaff;
}

.modal-textos a{
    display: flex;
    margin-bottom: 50px;
    color: #0a1a2a;
    font-weight: 600;
}

.modal-textos a:hover{
    color: #8feaff;
}

.close{
    position: absolute;
    top: 5px;
    right: 30px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #0a1a2a;
    color: #8feaff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close{
    transform: translateY(-200%);
}

.modal > img{
    height: 100%;
    border-radius: 60px;
}

/*CARRUSEL3D*/
  
  [type=radio] {
    display: none;
  }
  
  #slider {
    margin-top: 40px;
    height: 40vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  #slider label {
    margin: auto;
    width: 60%;
    height: 90%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
  }

  /*FOOTER*/

  .pie-pagina{
      width: 100%;
      background-color: #2b1055;
  }

  .pie-pagina .grupo-1{
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      padding: 45px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  
  .pie-pagina .grupo-1 .box figure{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .pie-pagina .grupo-1 .box figure img{
      width: 250px;
  }

  .pie-pagina .grupo-1 .box h2{
      color: #8feaff;
      font-weight: 600;
      margin-bottom: 25px;
      font-size: 20px;
  }

  .pie-pagina .grupo-1 .box a{
      color: #8feaff;
      font-weight: 600;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
  }

  .pie-pagina .grupo-1 .box a:hover{
    color: #666;
}

  .pie-pagina .grupo-1 .red-social a{
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #8feaff;
      margin-right: 10px;
      background-color: #0d2033;
      text-align: center;
      transition: all 300ms ease;
  }

  .pie-pagina .grupo-1 .red-social a:hover{
      color: #666;
  }

  .pie-pagina .grupo-2{
      background-color: #0a1a2a;
      padding: 15px 10px;
      text-align: center;
      color: #8feaff;
      font-weight: 600;
  }

  .pie-pagina .grupo-2 small{
      font-size: 15px;
  }

  

/*RESPONSIVE*/
@media(max-width: 768px){
    /*HEADER*/
    .mostrar-menu,
    .esconder-menu{
    display: block;
}

.menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2b1055;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
}

.menu a{
    display: block;
    padding: 20px;
}

.esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
}

#check:checked ~ .menu{
    right: 0;
}

}
@media (max-width: 375px){
.modal{
    width: 100%;
}}
@media (max-width: 500px){
    .modal{
        width: 100%;
    }}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width:900px){
	.contenido-modal{
		width: 100%;
	}
}

