body{
    margin: 0;
}
.container{
    
    margin-top: 5vh;
    
    height: 100vh;
    
    
}
.left{
    border: 1px solid #d94787;
    height: 100%;
    width: 50%;
}
h1{
    font-family: 'Righteous', cursive;
    text-align: center;
    color: #d94787;
    font-size: 5em;
    margin: 20px 0px 50px 0px;
}
h2{
    color: #4fc7c6;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 3em;
    margin: 30px;
    cursor: pointer;
}
#game404{
    margin: 30px 0px;
    width: 480;
    height: 320;
    border: 2px dotted #d94787;
    border-radius: 20px;
    
}
h2:hover{ 
    color: #d94787;
    transform: scale(1.5);

}
.panda.hover{
    transform: scale(1.5);
    cursor: pointer;
}
@media (max-width: 425px) {
    h1{
        font-size: 3em;
    }
    
}