
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Ruda:wght@700&display=swap');
body{
    margin: 0;
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   
    
    
    
}
#touch{
    font-family: 'Ruda', sans-serif;
    font-weight: 600;  
}
.btn{
    background-color: blueviolet;
    color: #fff;
    border: none;
    margin: 1em 0;
    font-family: 'Righteous', cursive;
    padding: 0.5em 1.7em;
    border-radius: 35px;
}
.btn:hover,
.btn:focus{
    background-color:#d94787;
    color: #4fc7c6;
    
}
.container{
    
    margin-top: 5vh;
    
    height: 100vh;
    
    
}
.left{
    border: 1px solid #d94787;
    height: 100%;
    width: 50%;
}
h1{
    font-family: 'Righteous', cursive;
    text-align: center;
    color: #d94787;
    font-size: 5em;
    margin: 20px 0px 50px 0px;
}
h2{
    color: #4fc7c6;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 3em;
    cursor: pointer;
}
#game404{
    margin: 30px 0px;
    width: 480;
    height: 320;
    border: 2px dotted #d94787;
    border-radius: 20px;
    
}
h2:hover{ 
    color: #d94787;
    transform: scale(1.05);

}
.panda:hover{
    transform: scale(1.05);
    cursor: pointer;
}
p{
    font-size: 0.9em;
    font-family: 'Ruda' sans-serif;
}
.arrows{color: #64f8f8 !important}
@media (max-width: 425px) {
    h1{
        font-size: 3em;
    }
    .arrows{
        display: none;
    }
}