@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*

nav img {
    margin-left: 1em;
    width: 5em;
}

nav {
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.3);
}

.nav-link {
    text-align: right !important;
}

.nav-link button {
    background-color: transparent;
    border: 0;
}

.nav-link button:hover {
    font-weight: 600;
    text-decoration: underline;
}

#nav-link-sub {
    padding:  1px 3px;
    border: 1px solid ;
    border-radius: 10px;
    background-color: #8a898941;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem ;
}
