@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;
}

body > img{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

section .color{
    position: absolute;
    filter: blur(150px);
}

.box{
    position: relative;
}

.container{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form h2{
    position: relative;
    color: #8feaff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.form h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #8feaff;
}

.form .inputBox{
    width: 100%;
    margin-top: 20px;
}

.form .inputBox input{
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form .inputBox input::placeholder{
    color: #0a1a2a;
    font-weight: 600;
}

.form .inputBox input[type="submit"]{
    background: #0d2033;
    color: #666;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.form .inputBox input[type="submit"]:hover{
    background: #8feaff;
}

.form p{
    color: #0d2033;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/*RESPONSIVE*/

@media screen and (max-width:1100px){
    .box{
        width: 50%;
    }
}

@media screen and (max-width:600px){
    .box{
        width: 60%;
    }
}

@media screen and (max-width:450px){
    .box{
        width: 80%;
    }
}

@media screen and (max-width:300px){
    .box
    {
        width: 90%;
    }
}